<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            text-decoration: none;
        }
        
        #navbar {
            margin-top: 0px;
            background-color: aquamarine;
            width: 100%;
            height: 10vh;
            opacity: 2;
            position: sticky;
        }
        
        #logo {
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: 700;
            font-style: bold;
            float: left;
            padding-left: 10px;
            margin: 5px;
        }
        
        #links {
            display: flexbox;
            align-items: right;
            text-align: right;
        }
        
        #a1 {
            color: black;
            font-style: bold;
            font-size: 20px;
        }
        
        #a1:hover {
            background-color: pink;
            scale: 1.1;
        }
        
        li {
            float: right;
            margin: 7px;
            display: inline;
            text-decoration: none;
            letter-spacing: 1px;
            padding-right: 1px;
            font-style: bold;
            font-weight: 300;
        }
        
        body {
            background-color: #D6EFED;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        #skills {
            background: url("images/backg2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: relative;
        }
        
        .vacancy-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .vacancy-container .vacancy-title,
        .vacancy-container .vacancu-content {
            max-width: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .vacancy-container .vacancy-box {
            border-radius: 10px;
            height: 300px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 30px;
            padding: 20px;
        }
        
        .boxx {
            background-color: aliceblue;
            box-shadow: 0 0 10px greenyellow;
        }
        
        .vacancy-container .vacancy-title {
            margin-bottom: 12px;
        }
        
        .vacancy-container .vacancy-box .vacancy-img {
            width: 150px;
            height: 150px;
        }
        
        .vacancy-box .vacancy-img img {
            position: relative;
            width: 90%;
            height: 90%;
            transition: transform 0.2s linear;
            box-shadow: 0 0 10px black;
        }
        
        .vacancy-img img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        
        .vacancy-title .vacancy-img h2 {
            position: static;
            font-size: 20px;
        }
        
        .vacancy-container .vacancy-content i {
            color: rgb(67, 61, 61);
        }
        
        .heading {
            text-align: center;
            font-size: 40px;
            padding: 20px 0;
            padding-top: 50px;
            color: rgb(18, 97, 225);
        }
        
        p {
            font-style: bold;
            font-size: 20px;
        }
        
        #apply {
            background-color: aqua;
            border-radius: 10px black solid;
        }
        
        img {
            width: 275px;
            height: 200px;
            border-radius: 50% red;
        }
        
        #r1 {
            border-radius: 50%;
            margin: 20px;
        }
        
        #view {
            margin: 70px 10px;
            box-shadow: 0 0 10px black;
        }
        
        #view1 {
            border: 0;
        }
        
        .resource-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .resource-container .resource-title,
        .resource-container .resource-content {
            max-width: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .resource-container .resource-box {
            border-radius: 10px;
            height: 200px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 30px;
            padding: 20px;
        }
        
        .boxx {
            background-color: aliceblue;
            box-shadow: 0 0 10px greenyellow;
        }
        
        .resource-container .resource-title {
            margin-bottom: 12px;
        }
        
        .resource-container .resource-box .resource-img {
            width: 150px;
            height: 150px;
        }
        
        .resource-box .resource-img img {
            position: relative;
            width: 90%;
            height: 90%;
            transition: transform 0.2s linear;
            border-radius: 50%;
            box-shadow: 0 0 10px black;
        }
        
        .resource-img img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        
        .resource-title .resource-img h2 {
            position: static;
            font-size: 20px;
        }
        
        .resource-container .resource-content i {
            color: rgb(67, 61, 61);
        }
        
        #view {
            border-radius: 2px solid black;
            background-color: aqua;
        }
        
        #view:hover {
            border-radius: 2px solid black;
            background-color: paleturquoise;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <div id="navbar">
        <div id="links">
            <a href="/admin">
                <p id="logo">CAREER FRIEND</p>
            </a>
            <ul>
                <li><a href="/feedback" id="a1">Feedback</a></li>
                <li><a href="#resources" id="a1">Resources</a></li>
                <li><a href="#vacancy" id="a1">Vacancy</a></li>
                <li><a href="/" id="a1">Home</a></li>
            </ul>
        </div>
    </div>
    <div id="vacancy">
        <div class="heading">VACANCIES</div>
        <div class="vacancy-container">
            <% const a=new Date(); %>
                <% const b=a.getDate(); %>
                    <% const c=a.getMonth(); %>
                        <% const d=a.getFullYear(); %>
                            <% for(var i=0;i<vac.length;i++){ %>
                                <% const a1=new Date(vac[i].date); %>
                                    <% const b1=a1.getDate(); %>
                                        <% const c1=a1.getMonth(); %>
                                            <% const d1=a1.getFullYear(); %>
                                                <% var flag=0; %>
                                                    <%if(d1>d){ %>
                                                        <% flag=1; %>
                                                            <% } %>
                                                                <% if(d1==d) { %>
                                                                    <% if(c1>c) { %>
                                                                        <% flag=1; %>
                                                                            <% } %>
                                                                                <% if(c1==c) { %>
                                                                                    <% if(b1>=b) { %>
                                                                                        <% flag=1; %>
                                                                                            <% } %>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                                                        <% if(flag==1) {
                                                                                                            %>
                                                                                                            <div class="vacancy-box boxx">
                                                                                                                <div class="vacancy-title">
                                                                                                                    <div class="vacancy-img">
                                                                                                                        <img src="<%= vac[i].img %>" alt="image">
                                                                                                                        <h2>
                                                                                                                            <%=
                                                                                                                                vac[i].title%>
                                                                                                                        </h2>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="vacancy-content">
                                                                                                                    <br><br>
                                                                                                                    <p>Role:
                                                                                                                        <%= vac[i].role
                                                                                                                            %>
                                                                                                                            <br>
                                                                                                                    </p>
                                                                                                                    <p>Location:
                                                                                                                        <%= vac[i].loc
                                                                                                                            %>
                                                                                                                            <br>
                                                                                                                    </p>
                                                                                                                    <p>Last date:
                                                                                                                        <%= vac[i].date
                                                                                                                            %>
                                                                                                                            <br>
                                                                                                                    </p>
                                                                                                                    <center>
                                                                                                                        <p><a href="<%= vac[i].des %>" id="apply">Apply</a>
                                                                                                                        </p>
                                                                                                                    </center>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <% if(i>4){
                                                                                                                %>
                                                                                                                <div class="vacancy-box" id="view1">
                                                                                                                    <div class="vacancy-title">
                                                                                                                        <div class="vacancy-img">
                                                                                                                            <form action="/" method="post">
                                                                                                                                <a href="/morevacancy"><img src="https://images.milledcdn.com/2021-08-14/rps_DTl-b-wlfIsJ/o6xFhH4y8Nut.jpeg" id="view"></a>
                                                                                                                            </form>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <% break;
                                                                                                                    } %>
                                                                                                                    <% }
                                                                                                                        %>
                                                                                                                        <% }
                                                                                                                            %>
        </div>
    </div>
    <div id="resources">
        <div class="heading">RESOURCES</div>
        <div class="resource-container">
            <div class="resource-box boxx">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="https://www.careerindia.com/upsc/ias-exam-e1.html"><img src="https://i.pinimg.com/originals/a4/6a/e3/a46ae3b9a30da2e699c06e08e1719ced.jpg" alt="image"></a>

                    </div>
                </div>
                <div class="resource-content">
                    <br><br>
                    <center>
                        <p><a href="https://www.careerindia.com/upsc/ias-exam-e1.html" id="view">VIEW</a></p>
                    </center>
                </div>
            </div>
            <div class="resource-box boxx">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="https://jobs.pilotflyingj.com/"><img src="https://i.pinimg.com/736x/4a/44/c3/4a44c32e1b6148e5bdae8696607d1fb2.jpg" alt="image"></a>

                    </div>
                </div>
                <div class="resource-content">
                    <br><br>
                    <center>
                        <p><a href="https://jobs.pilotflyingj.com/" id="view">VIEW</a></p>
                    </center>
                </div>
            </div>
            <div class="resource-box boxx">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="https://www.udemy.com/courses/development/web-development/"><img src="https://www.zdnet.com/a/img/resize/ebc9be88d6bd0153d92b7c6111f848884f852e12/2019/08/19/4a663776-f4a9-4f89-9bee-2d07ee052f5b/istock-1147195672-11.jpg?width=1200&height=900&fit=crop&auto=webp" alt="image"></a>

                    </div>
                </div>
                <div class="resource-content">
                    <br><br>
                    <center>
                        <p><a href="https://www.udemy.com/courses/development/web-development/" id="view">VIEW</a></p>
                    </center>
                </div>
            </div>
            <div class="resource-box boxx">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="https://www.shiksha.com/engineering/mechanical-engineering-chp"><img src="https://www.surrey.ac.uk/sites/default/files/styles/640x360_16_9/public/2019-03/student-mechanical-engineering-facility-media1.jpg?itok=r-j-_Zr7" alt="image"></a>

                    </div>
                </div>
                <div class="resource-content">
                    <br><br>
                    <center>
                        <p><a href="https://www.shiksha.com/engineering/mechanical-engineering-chp" id="view">VIEW</a>
                        </p>
                    </center>
                </div>
            </div>
            <div class="resource-box boxx">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="https://developer.android.com/courses?gclid=CjwKCAjw_b6WBhAQEiwAp4HyIMDmbqdcOhVXpKyak8MMJk0V9vUUTfr7ufbALf9QzlAx5sWOv5LzcxoC1OcQAvD_BwE"><img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Become_an_Android_Developer.jpg" alt="image"></a>

                    </div>
                </div>
                <div class="resource-content">
                    <br><br>
                    <center>
                        <p><a href="https://developer.android.com/courses?gclid=CjwKCAjw_b6WBhAQEiwAp4HyIMDmbqdcOhVXpKyak8MMJk0V9vUUTfr7ufbALf9QzlAx5sWOv5LzcxoC1OcQAvD_BwE" id="view">VIEW</a></p>
                    </center>
                </div>
            </div>
            <div class="resource-box boxx">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="https://bitcoinsv.academy/course/introduction-to-bitcoin-development?gclid=CjwKCAjw_b6WBhAQEiwAp4HyIBp3HvuEQNXXQKvxCEy2Kwar9da3K0kCn9gT5H5vxHiGv-k4fgCs0hoCWbwQAvD_BwE"><img src="https://freepngclipart.com/download/logo/57367-logo-product-blockchain-technology-design-download-hd-png.png" alt="image"></a>

                    </div>
                </div>
                <div class="resource-content">
                    <br><br>
                    <center>
                        <p><a href="https://bitcoinsv.academy/course/introduction-to-bitcoin-development?gclid=CjwKCAjw_b6WBhAQEiwAp4HyIBp3HvuEQNXXQKvxCEy2Kwar9da3K0kCn9gT5H5vxHiGv-k4fgCs0hoCWbwQAvD_BwE" id="view">VIEW</a></p>
                    </center>
                </div>
            </div>
            <div class="resource-box" id="view1">
                <div class="resource-title">
                    <div class="resource-img">
                        <a href="/moreresource"><img src="https://images.milledcdn.com/2021-08-14/rps_DTl-b-wlfIsJ/o6xFhH4y8Nut.jpeg" id="view"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>